<div class="error"></div>
<form action="" method="post">
	<input type="text" name="name"/>
	<input type="text" name="surname"/>
	<input type="password" name="password"/>
</form>
<hr/>
<hr/>
<div class="error"></div>
<form action="/profile-img-up" method="post">
	<input type="file" name="uploadFile"/>
</form>