<script type="text/javascript" src="/public/plugins/jQuery/jquery.min.js"></script>
<script type="text/javascript" src="/public/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/plugins/jQuery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/public/js/main-ajax.js"></script>
<script type="text/javascript" src="/public/js/main.js"></script>