{% extends "Resource/base.html.njk" %}

{% block title %}Chats Page{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/public/css/user.css">
{% endblock %}

{% block body %}
<div class="container">

	{% block container %}{% endblock %}
	
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/public/js/main-users.js"></script>
{% endblock %}